.cost
  padding: 106px 0 100px 0
  background: url('../img/cost/bcg-cost.png') no-repeat center right 25%
  background-size: contain
  position: relative
  z-index: 1
  height: 660px
  color: #000
  &:before
    content: ''
    left: 0
    top: 0
    width: 50%
    height: 100%
    background-color: #ffc000
    position: absolute
    z-index: -1
.cost__wrap
  display: flex
  justify-content: center
.questions
  width: 60%
  &__wrap
    width: 515px
    margin-right: 150px
  &__title
    font-size: 22px
    +bold
    margin-bottom: 50px
    margin-top: 0
  &__subtitle
    font-size: 16px
    margin-bottom: 94px
.qu-list
  display: flex
  flex-direction: column
  justify-content: space-between
  height: 240px
  padding: 0

  &__item
    font-size: 18px
    font-family: 'Museo Sans Medium'
    &:before
      content: '1.'
      font-size: 14px
      width: 35px
      height: 35px 
      border-radius: 50%
      border: 1px solid #000000
      background-position: center
      background-repeat: no-repeat
      margin-right: 35px
  
      
    