@media (max-width: 1200px)
  .container
    width: 992px
  .form
    margin: auto
    text-align: center
  .feedback
    background: #fff
  .slider
    &__item
      img
        width: 95%
  .questions
    margin: 0
    &__wrap
      width: 85%
      margin: auto
    &__title
      text-align: center
      font-size: 17px
      margin-bottom: 50px
    &__subtitle
      text-align: center
      margin-bottom: 70px
  .qu-form
    margin: auto
    &__title
      text-align: center
      font-size: 17px
      margin-bottom: 50px
    &__subtitle
      text-align: center
      margin-bottom: 50px
    &__item
      margin-bottom: 30px
  .step
    &-wrap
      padding: 100px 0 80px 0
    &-item
      width: 75%
      flex-wrap: wrap
      justify-content: center
      &__block
        margin-bottom: 20px
      &__img
        width: 80px
        height: 80px
        background-size: 20px
  .advert__title
    font-size: 28px
  .help
    margin: 100px auto
    &__block
      width: 90%
      height: 340px
      font-size: 14px
      line-height: 20px
      margin: 10px
  .contacts
    margin-left: 60px
  .guarantee
    padding-bottom: 100px

@media (max-width: 992px)
  .container
    width: 768px
  .main
    &-text
      &__title
        font-size: 30px
        line-height: 36px
  .feedback
    background: #fff
  .modal
    overflow-y: scroll
    &__wrap
      flex-direction: column
      align-items: center
    &__dialog2
      width: 600px 
  .section-title_center
    font-size: 24px
    margin-bottom: 50px
  .portfolio
    padding: 50px 0
    &:before
      background: transparent
  .cost
    height: 1000px
    background: transparent
    &:before
      background: transparent
    padding: 40px 0
  .cost__wrap
    display: flex
    flex-direction: column
    margin: auto
    align-items: center
  .questions
    margin-bottom: 50px
    
    &__wrap
      width: 95%
    &__title
      font-size: 16px
      margin-bottom: 30px
    &__subtitle
      margin-bottom: 70px
      font-size: 14px
  .qu-form
    &__title
      font-size: 16px
      margin-bottom: 40px
    &__subtitle
      text-align: center
      margin-bottom: 25px
      font-size: 14px
    &__item
      margin-bottom: 30px
    &__input, &__button
      width: 80%
  .step
    &-wrap
      padding: 80px 0 60px 0
      &__title
        font-size: 26px
        margin-bottom: 40px
    &-item
      width: 80%
      &__block
        margin-bottom: 20px
      &__img
        width: 70px
        height: 70px
        background-size: 20px
  .advert__title
    font-size: 24px
  .contacts
    margin-left: 60px
    &__invite
      font-size: 18px
  .help
    margin: 60px auto
    &__block
      padding-left: 5px
      width: 90%
      height: 300px
      font-size: 12px
  .guarantee
    padding-bottom: 60px
    &__title
      font-size: 22px
      line-height: 36px
      margin-bottom: 50px


@media (max-width: 768px)
  .container
    width: 90%
  .logo_img
    width: 77px
    height: 37px
  .header-text__phone
    font-size: 20px
  .main
    &-wrap
      flex-direction: column
    &-text
      max-width: 400px 
      margin: auto
      &__title
        text-align: center
        font-size: 24px
        line-height: 20px
  .hidden-xs
    display: none
  .form
    margin: auto
    &__title
      font-size: 18px
      line-height: 20px
    &__input
      display: block
      margin: 20px auto
  .next_line
    display: block
  .section-title_center
    font-size: 18px
  .cost
    padding: 20px 0 20px 0
    margin-bottom: 20px
    height: 900px
  .slider
    &__item
      img
        width: 75%
  .questions
    margin-bottom: 50px
    width: 400px
    &__wrap
      margin: auto
    &__title
      font-size: 16px
      line-height: 20px
    &__subtitle
      margin-bottom: 50px
      font-size: 16px
  .qu-form
    width: 400px
    &__title
      font-size: 16px
      line-height: 20px
    &__subtitle
      font-size: 16px
  .step
    &-wrap
      padding: 70px 0 50px 0
      &__title
        font-size: 22px
        margin-bottom: 40px
      &__subtitle 
        font-size: 18px
  .advert__title
    font-size: 19px
    padding: 60px 0
    line-height: 40px
  .footer
    display: block
  .map
    width: 100%
  .contacts
    margin: auto
    text-align: center
    width: 60%
    &__invite
      width: 100%
      font-size: 20px
      margin: 50px auto
    &__info
      margin: auto
      margin-bottom: 40px
      width: 150px
  .help
    margin: 50px auto
    &-wrap
      flex-wrap: wrap
      justify-content: center
    &__block
      padding-left: 5px
      width: 370px
      height: 410px
      font-size: 16px
      line-height: 23px
      padding-left: 26px
  .guarantee
    padding-bottom: 30px
    &-wrap
      flex-wrap: wrap
      justify-content: center
      padding-bottom: 60px
      padding-bottom: 0
    &__title
      font-size: 22px
      line-height: 36px
      margin-bottom: 50px
    &__text
      margin-bottom: 30px
    &__img
      margin-bottom: 20px


@media (max-width: 576px)  
  .container
    width: 95%
  .header-text
    display: flex
    &__contacts
      margin-right: 20px
    &__city
      font-size: 12px
    &__phone
      font-size: 12px
      margin-bottom: 5px
  .hidden-xxs
    display: none 
  .button_1
    border-radius: 100%;
    border: 1px solid #cccccc
    padding: 10px
    background: url('../img/feedback/phone-receiver.png') no-repeat center
    background-size: 60%
  .button
    padding: 15px
  .form
    &__input
      font-size: 14px
      padding: 15px
    &__button
      font-size: 14px
    &__phone
      &:before
        margin-right: 14px
    &__recall-time
      font-size: 8px
      width: 40%
    &__recall-text
      font-size: 8px
      margin-left: 0
    &__phone-number
      font-size: 10px
  .modal
    &__wrap
      flex-direction: column
      align-items: center
      margin: auto
    &__dialog1
      width: 320px
    &__dialog2
      width: 320px
  .offer__price
    width: 270px
  .m-form
    width: 200px
    margin: auto
    &__title
      font-size: 14px
      margin-bottom: 20px
    &__subtitle
      font-size: 12px
      margin-bottom: 20px
    &__input
      padding: 15px
    &__recall
      font-size: 12px
    &__phone-number
      font-size: 14px
  .block1
    &__img
      width: 120px
      height: 85px
    &__title
      font-size: 12px
    &__text
      margin-left: 10px
    &__price
      font-size: 12px
  .block2
    &__img
      width: 120px
      height: 85px
    &__title
      font-size: 12px
    &__text
      margin-left: 10px
    &__price
      font-size: 12px
  .list
    &__title
      font-size: 12px
    &__item
      font-size: 12px
  .portfolio
    padding: 25px
  .section-title_center
    font-size: 14px
    line-height: 20px
    margin-bottom: 25px
  .slider
    &__item
      img
        width: 75%
  .img_arrow
    width: 35px
    height: 12px
  .button_arrow
    margin-top: 25px
  .cost
    padding: 40px 0
    height: 900px
  .questions
    width: 300px
    &__title
      font-size: 16px
      line-height: 20px
    &__subtitle
      margin-bottom: 40px
      font-size: 14px
    &__item
      margin-left: 50px
      &:before
        left: -50px
  .qu-form
    width: 300px
    &__subtitle
      font-size: 14px
  .step 
    &-wrap
      padding: 40px 0 50px 0
      &__title
        font-size: 16px
        margin-bottom: 40px
        line-height: 36px
      &__subtitle 
        font-size: 16px
  .advert__title
    font-size: 14px
    padding: 60px 0
    line-height: 36px
  .contacts
    &__invite
      font-size: 14px
      line-height: 26px
    &__info
      font-size: 14px
  .price
    &__title
      padding-top: 50px
  .guarantee
    &__title
      font-size: 18px
      line-height: 32px
      margin-bottom: 50px
    &__text
      font-size: 16px
    &__img
      margin-bottom: 20px
    