.portfolio
  background-color: $light-bg-color
  padding: 100px 0
  background-size: contain
  position: relative
  z-index: 1
  &:before
    content: ''
    left: 0
    top: 0
    width: 50%
    height: 100%
    background: url('../img/portfolio/bcg_portfolio.png') no-repeat center left 0px
    position: absolute
    z-index: -1
.slider
  &__item
    text-align: center
.arrow
  &_right
    width: 40px
    height: 40px
    background-color: #000
